*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  height: 240px;
  margin: 20px 10px;
  border: 2px solid #296396;
  background-color: #296396;
  cursor: pointer;
  border-radius: 10px;
}

a {
  text-decoration: none;
  font-size: 30px;
  color: white;
  
}
