*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #ffffff;
}

/* Mobile Styling first */

.logo {
  display: flex;
  justify-content: center;
}

#logo {
  margin-top: 30px;
  background-image: url("https://www.freepnglogos.com/uploads/pokemon-logo-text-png-7.png");
  width: 300px;
  height: 120px;

}

.card-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 94%;
  flex-wrap: wrap;
  height: 240px;
  margin: 20px 10px;
  border: 2px solid #296396;
  background-color: #296396;
  cursor: pointer;
  border-radius: 10px;
}

a {
  text-decoration: none;
  font-size: 30px;
  color: white;
  
}

/* Styling for Tablets */

@media (min-width: 768px) {
  .card {
    width: 45%;
  }
}

/* Styling for Desktop */

@media (min-width: 1281px) {
  .card {
    width: 30%;
  }
}