*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #ffffff;
}

/* Mobile Styling first */


.card-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 94%;
  flex-wrap: wrap;
  height: 240px;
  margin: 20px 10px;
  border: 2px solid #296396;
  background-color: #296396;
  cursor: pointer;
  border-radius: 10px;
}

.card-info {
  margin-left: 50px;
  
}

.title h1 {
  margin: 50px 0 30px 0;
  font-size: 25px;
  color: #171717;
  text-align: center;
}

.card-info h1 {
  font-size: 25px;
  color: white;
  padding: 25px 20px;
}

.card-info h3 {
  font-size: 16px;
  color: white;
  padding: 5px 20px;
}

a {
  text-decoration: none;
  color: white;
}


/* SHOW PAGE */
.show-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px;
  align-items: center;
}

.show-title {
  margin: 30px;
}

.show-person-info {
  width: 100%;
}

.person-info-items {
  margin: 20px 30px;
  padding: 5%;
  border: 1px solid #1f1f1f;
}

.films-container {
  margin: 20px;
}

.films-title {
  margin-top: 50px;
  text-align: center;
}

.films-details {
  margin: 20px 30px;
  padding: 5%;
  border: 1px solid #1f1f1f;
}

.film-details-items {
  margin: 20px;
}

.load-more {
  display: flex;
  justify-content: center;
  margin: 20px 0 50px;
}
.load-more-button {
  width: 200px;
  padding: 10px 10px;
  background-color: #ba9e00;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}
.load-more-button:hover {
  cursor: pointer;
}

/* Styling for Tablets */

@media (min-width: 768px) {
  .card {
    width: 45%;
  }
  .show-person-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .films-container {
    justify-content: flex-start;
  }
  .person-info-items {
    width: 45%;
    margin: 10px;
    padding: 5%;
  }
}

/* Styling for Desktop */

@media (min-width: 1281px) {
  .card {
    width: 30%;
  }
  .show-person-info {
    justify-content: flex-start;
  }
  .person-info-items {
    width: 30%;
    margin: 10px;
    padding: 5%;
  }
  .films-container {
    justify-content: flex-start;
    margin: 0;
    max-width: 800px;
  }
}